@model KlearviewQuotes.Models.Quote

<!-- Preview Stylesheet -->
<link rel="stylesheet" href="/css/preview.css" />

<!-- Allow for pdf -->
<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/site.css" />

<div class="preview d-flex flex-column page-1">
    <div class="header">
        <div class="d-flex">
            <div class="image">
                <img src="/images/kv-logo.jpg" />
                <br/>
                <span class="text-xs">o/b 2112190 Ontario Inc.</span>
            </div>
            <div class="text-center phone-and-info">
                <span class="font-weight-bold text-xl">905-634-2882</span>
                <br/>
                <span>Locally owned and operated</span>
                <div class="row">
                    <div class="col text-right text-red text-md web-left"><a>www.klearview.ca</a></div>
                    <div class="col text-left text-red text-md web-right"><a>info@klearview.ca</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="estimate-sheet-heading">
        ESTIMATE SHEET
    </div>
    <div class="customer-info">
        <table>
            <colgroup>
                <col span="1" style="width: 170px;">
                <col span="1" style="width: auto;">
                <col span="1" style="width: 50px;">
                <col span="1" style="width: auto;">
            </colgroup>
            <thead>
                <tr><td colspan="4">CUSTOMER INFORMATION</td></tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayNameFor(item => Model.CustomerInfo.Name):</td>
                    <td colspan="3"><div class="prev-value">@Html.DisplayFor(item => Model.CustomerInfo.Name)</div></td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(item => Model.CustomerInfo.Address):</td>
                    <td colspan="3"><div class="prev-value">@Html.DisplayFor(item => Model.CustomerInfo.Address)</div></td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(item => Model.CustomerInfo.Phone):</td>
                    <td><div class="prev-value">@Html.DisplayFor(item => Model.CustomerInfo.Phone)</div></td>
                    <td>@Html.DisplayNameFor(item => Model.CustomerInfo.Cell):</td>
                    <td><div class="prev-value">@Html.DisplayFor(item => Model.CustomerInfo.Cell)</div></td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(item => Model.CustomerInfo.Email):</td>
                    <td colspan="3"><div class="prev-value">@Html.DisplayFor(item => Model.CustomerInfo.Email)</div></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="sales-rep my-4">
        <table>
            <colgroup>
                <col span="1" style="width: 160px;">
                <col span="1" style="width: 180px;">
                <col span="1" style="width: 100px;">
                <col span="1" style="width: auto;">
            </colgroup>
            <tbody>
                <tr>
                    <td>@Html.DisplayNameFor(item => Model.QuoteInfo.DateOfEstimate):</td>
                    <td><div class="prev-value">@Html.DisplayFor(item => Model.QuoteInfo.DateOfEstimate)</div></td>
                    <td>@Html.DisplayNameFor(item => Model.QuoteInfo.SalesRep):</td>
                    <td><div class="prev-value">@Html.DisplayFor(item => Model.QuoteInfo.SalesRep)</div></td>
                </tr>
                <tr>
                    <td colspan="2" class="estimate-good text-center text-sm">
                        <em>Estimate good for 30 days from above date</em>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row border-top border-dark flex-fill">
        <div class="col-7 m-2 border border-dark d-flex flex-column estimate">
            <div class="text-center estimate-top">
                <span class="text-bold text-lg">ESTIMATE</span>
                <p class="text-red text-xs">TAXES NOT INCLUDED</p>
            </div>
            <div class="flex-fill">
                <div>
                    <span class="text-bold text-md">Window Cleaning</span>
                    <div class="indent">
                        <div>
                            <div class="d-flex">
                                <span class="text-bold text-md flex-fill">Exterior</span>
                                <div class="price-wrapper d-flex">
                                    <div class="price text-bold">$@Html.DisplayFor(item => Model.Estimate.Exterior.Price)</div>
                                </div>
                            </div>
                            <span class="sub-text"><em>(Screens and tracks on inside are not included in exterior price)</em></span>
                            <div class="indent">
                                <div class="form-check w-75">
                                    <input asp-for="Estimate.Exterior.CustomerRemoveExtScreens" class="form-check-input" type="checkbox">
                                    <label class="form-check-label" asp-for="Estimate.Exterior.CustomerRemoveExtScreens"></label>
                                </div>

                                <div class="d-flex">
                                    <div class="form-check flex-fill">
                                        <input asp-for="Estimate.Exterior.WeRemoveExtScreens.Checked" class="form-check-input" type="checkbox">
                                        <label class="form-check-label" asp-for="Estimate.Exterior.WeRemoveExtScreens"></label>
                                    </div>
                                    <div class="price-wrapper d-flex">
                                        <div class="price">$@Html.DisplayFor(item => Model.Estimate.Exterior.WeRemoveExtScreens.Extra)</div>
                                    </div>
                                </div>

                                <div class="form-check">
                                    <input asp-for="Estimate.Exterior.WeRequireAccessInside" class="form-check-input" type="checkbox">
                                    <label class="form-check-label" asp-for="Estimate.Exterior.WeRequireAccessInside"></label>
                                </div>
                            </div>
                        </div>
                        <div class="comp-ext-int mt-2">
                            <div class="d-flex">
                                <span class="text-bold text-md flex-fill">Complete Exterior and Interior</span>
                                <div class="price-wrapper d-flex">
                                    <div class="price text-bold">$@Html.DisplayFor(item => Model.Estimate.CompleteExtAndInt.Price)</div>
                                </div>
                            </div>
                            <span class="sub-text"><em>(Price includes wiping sills, tracks, and screens)</em></span>
                         </div>
                         <div class="mt-3 mb-1 ext-int">
                            <div class="indent" style="margin-top: -10px; margin-bottom: 6px;">
                                <div class="d-flex mb-1">
                                    <span class="flex-fill"><b>Included</b></span>
                                    <span style="margin-right: 50px"><b>Extra</b></span>
                                </div>

                                <div class="d-flex">
                                    <div class="flex-fill mr-2 d-flex">
                                        <div class="form-check">
                                            <input asp-for="Estimate.CompleteExtAndInt.Basements.Checked" class="form-check-input" type="checkbox">
                                            <label class="form-check-label" asp-for="Estimate.CompleteExtAndInt.Basements"></label>
                                        </div>
                                        <div class="form-check">
                                            <input asp-for="Estimate.CompleteExtAndInt.Basements.Interior" class="form-check-input" type="checkbox">
                                            <label class="form-check-label" asp-for="Estimate.CompleteExtAndInt.Basements.Interior"></label>
                                        </div>
                                        <div class="form-check">
                                            <input asp-for="Estimate.CompleteExtAndInt.Basements.Exterior" class="form-check-input" type="checkbox">
                                            <label class="form-check-label" asp-for="Estimate.CompleteExtAndInt.Basements.Exterior"></label>
                                        </div>
                                    </div>
                                    <div class="price-wrapper d-flex">
                                        <div class="price">$@Html.DisplayFor(item => Model.Estimate.CompleteExtAndInt.Basements.Extra)</div>
                                    </div>
                                </div>

                                <div class="d-flex">
                                    <div class="flex-fill mr-2 d-flex">
                                        <div class="form-check">
                                            <input asp-for="Estimate.CompleteExtAndInt.Skylights.Checked" class="form-check-input" type="checkbox">
                                            <label class="form-check-label" asp-for="Estimate.CompleteExtAndInt.Skylights"></label>
                                        </div>
                                        <div class="form-check">
                                            <input asp-for="Estimate.CompleteExtAndInt.Skylights.Interior" class="form-check-input" type="checkbox">
                                            <label class="form-check-label" asp-for="Estimate.CompleteExtAndInt.Skylights.Interior"></label>
                                        </div>
                                        <div class="form-check">
                                            <input asp-for="Estimate.CompleteExtAndInt.Skylights.Exterior" class="form-check-input" type="checkbox">
                                            <label class="form-check-label" asp-for="Estimate.CompleteExtAndInt.Skylights.Exterior"></label>
                                        </div>
                                    </div>
                                    <div class="price-wrapper d-flex">
                                        <div class="price">$@Html.DisplayFor(item => Model.Estimate.CompleteExtAndInt.Skylights.Extra)</div>
                                    </div>
                                </div>

                                <div class="d-flex">
                                    <div class="form-check flex-fill">
                                        <input asp-for="Estimate.CompleteExtAndInt.DeckGlass.Checked" class="form-check-input" type="checkbox">
                                        <label class="form-check-label" asp-for="Estimate.CompleteExtAndInt.DeckGlass"></label>
                                    </div>
                                    <div class="price-wrapper d-flex">
                                        <div class="price">$@Html.DisplayFor(item => Model.Estimate.CompleteExtAndInt.DeckGlass.Extra)</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-4">
                    <div class="d-flex">
                        <span class="text-bold text-md flex-fill">Siding Cleaning</span>
                        <div class="price-wrapper d-flex">
                            <div class="price text-bold">$@Html.DisplayFor(item => Model.Estimate.Siding.Price)</div>
                        </div>
                    </div>
                    <div class="indent w-50">
                        <div style="line-height: 100%; margin-bottom: 10px;">Includes siding, fascia, soffits and exterior of eavestrough</div>
                        <span class="sub-text"><em>(Surface dirt and mild stains only)</em></span>
                    </div>
                </div>

                <div class="mt-4">
                    <div class="d-flex">
                        <span class="text-bold text-md flex-fill">Eavestrough / Gutter Clearing</span>
                        <div class="price-wrapper d-flex">
                            <div class="price text-bold">$@Html.DisplayFor(item => Model.Estimate.Eaves.Price)</div>
                        </div>
                    </div>
                    <div class="indent">
                        <div style="line-height: 100%; margin-bottom: 10px;">Clearing out eaves/gutters and downspouts</div>
                        <span class="sub-text"><em>(Does not include removal of shingle dust)</em></span>
                        <ul><li class="sub-text"><em>Extra charge to remove gutter guards</em></li></ul>
                    </div>
                </div>
            </div>
            <div class="text-center text-xs multi-service">
                <div class="multi-service-title">Multi-Service Discount</div>
                <div>2 Services $30 off</div>
                <div>3 Services $60 off</div>
            </div>
        </div>
        <div class="col m-2 d-flex flex-column">
            <div class="text-center text-md">@Html.DisplayNameFor(item => Model.QuoteInfo.Description)</div>
            <div class="mt-2 flex-fill job-description text-sm">
                @Html.DisplayFor(item => Model.QuoteInfo.Description)
            </div>
        </div>
        
    </div>
</div>
<div class="page-2">
    <h3 class="text-decoration-underline"><b>Terms and Conditions</b></h3>
    <p>Estimate is valid for 30 days from the date listed.</p>
    <p>HST is not included in the prices. HST will be added on the invoice</p>
    <p>
        Multi-Service Discount – applies to services scheduled and completed on the same service day, 2 Services $30 discount, 3
        Services $60 discount (example of service is: window cleaning and siding cleaning, or window cleaning, eaves clearing and
        siding cleaning)
    </p>
    <p>We supply our own water, ladders, and equipment</p>
    <p>
        Customers are responsible for moving furniture or large items away from work area. If this is not possible, we will do our best
        to work around these items. Klearview assumes no responsibility when moving furniture/items.
    </p>

    <h4><b>Insured</b></h4>
    <p>
        <a href="https://www.klearview.ca/insurance/liability-insurance/" target="_blank">
            Liability Insurance $5 Millon Liability and Property Damage
        </a>
    </p>
    <p>
        <a href="https://www.klearview.ca/insurance/liability-insurance/" target="_blank">
            Workplace and safety & Insurance Board account #1427433
        </a>
    </p>

    <h4><b>Window Cleaning</b></h4>
    <p>
        Additional charges may apply for removal of hard water, mould, mildew, smoke and nicotine, BBQ grease, construction debris
        (overspray paint, tape, stickers, stucco)
    </p>
    <p>
        Not responsible for scratches on windows and frames due to the removal of construction debris (paint, tape or any stains that
        require the use of a scraper blade to remove them.
    </p>
    <p>
        Does not included interior glass (French doors, interior sliding doors, mirrors, partitions, interior windows, glass railing
        staircase, etc.) unless specified in Job description note.
    </p>
    <p>Not responsible for scratches on glass</p>
    <p>Only accessible basements are deemed included in estimate</p>
    <p>Customer is responsible for removing items away from windows and windowsills</p>
    <p>Not responsible for damages to tint on windows if we are not notified and documented of its presence</p>
    <p>
        Not responsible for breakage or damage of window systems, and blinds that are not working properly due to age or other
        factors.
    </p>
    <p>Not responsible for breakage or damage of screens, screen clips that are aged and not fitting properly or other factors</p>

    <h4><b>Siding Cleaning</b></h4>
    <p>Siding cleaning is for surface dirt and mild stains only</p>
    <p>Does not include washing any railings, railing spindles or pillars unless otherwise specified</p>
    <p>Results may vary for Aluminum products, not responsible for discoloration of aluminum siding</p>
    <p>Debris/stains left from ivy vine are considered a permanent stain and cannot be removed</p>

    <h4><b>Eavestrough/Gutter Clearing</b></h4>
    <p>Does not include removal of shingle dust or fine debris</p>
    <p>We do not spray out eaves with a water hose</p>
    <p>Does not include clearing any flat roofs unless otherwise specified</p>
    <p>Includes clearing debris from accessible valleys only</p>
    <p>We do not remove gutter guards to clear eaves. We will clear the top of guards only</p>
    <p>Not responsible for any downspouts that go under the ground</p>
</div>