@model KlearviewQuotes.Models.Quote

<style>

    .image img {
        height: 72px;
    }

    .preview {
        border: 1px solid black;
        margin: 20px;
        padding: 20px;
        
        width: 8.5in;
        height: 11in;

        min-width: 8.5in;
        min-height: 11in;

        max-width: 8.5in;
        max-height: 11in;
    }

    /*@@media only screen and (max-width: 920px) {
        .preview {
            transform: scale(0.7);
        }  
    }*/

    .prev-item {
        display: flex;
        max-height: 22px;
    }

    .prev-item span {
        margin-right: 6px;
    }

    .prev-value {
        border-bottom: 1px solid gray;
        min-width: 100px;
        max-width: 100%;
    }

    .prev-check {
        margin: 1px 10px;
    }

    .number {
        text-align: right;
    }

    .last-col {
        display: flex;
        justify-content: right;
    }

    .image {
        text-align: center;
    }

    .old {
        margin-top: 300px;
    }

    .web {
        line-height: 1.375rem;
    }

    /* New */
    .grid {
        display: grid;
        gap: 2rem;
    }

    .grid-3 {  
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .grid-2 {
        grid-template-columns: 1fr 1fr;
    }

    .owned {
        grid-template-columns: 1fr 2fr 1fr;
    }

    .right {
        display: flex;
        justify-content: right;
    }

    .contact {
        text-align: center;
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin: 20px 20px 0px 20px;
    }

    .contact .phone {
        border-bottom: 2px solid black;
    }

    .contact .contact-phone {
        font-weight: bold;
    }

    .bb-2 {
        border-bottom: 2px solid black;
    }

    

    .text-bold {
        font-weight: bold;
    }

    /* Customer info table */

    .customer-info {  
        border: 1px solid black;
        border-radius: 8px;
    }

    .customer-info table {
        width: 100%;
    }

    .customer-info thead td {
        text-align: center;
        font-size: 1.25rem;
        background-color: lightgray;
        border-radius: 8px 8px 0 0;
    }

    .customer-info tbody td {
        padding: 10px;
        line-height: 1rem;
    }

    .customer-info tbody .prev-value {
        width: 100%;
    }

    /* Sales Rep */

    .sales-rep {
        margin: 10px 10%;
        line-height: 1rem;
    }

    .sales-rep table {
        width: 100%;
    }

    .sales-rep .prev-value {
        width: 90%;
    }

    /* Job Description */

    .job-description {
        border-top: 2px solid black;
    }

    /* Estimate */

    .estimate-top {
        margin-top: 4px;
        line-height: 1rem;
    }

    .estimate-items {
        line-height: 1rem;
        width: calc(100% - 16px);
        margin: -12px 8px 8px 12px;
    }

    .estimate-items td {
        padding-bottom: 2px;
        font-size: 0.75rem;
    }

    .estimate-items span {
        font-size: 0.875rem;
    }
    
    .estimate-item-title {
        font-weight: bold;
        font-size: 1rem;
    }

    .estimate-item-subtitle {
        font-size: 1rem;
    }

    .estimate-subsection-top td {
        padding-top: 2px;
    }

    .estimate-subsection-bot {
        border-bottom: 1px solid lightgray;
    }

    /* Multi Service */

    .multi-service {
        line-height: 0.875rem;
    }

    .multi-service-title {
        text-decoration: underline;
        font-weight: bold;
    }

    .price-wrapper {
        width: 100px;
        min-width: 100px;
    }

    .price {
        border-bottom: 1px solid gray;
        width: 100px;
        height: 22px;
    }

    .price.text-bold {
        border-bottom: 2px solid gray;
    }

    .estimate .form-check {
        margin-left: 0 !important;
        pointer-events: none;
    }

    .sub-text {
        font-size: 0.75rem;
        position: relative;
        top: -10px;
    }

    .extra {
        margin-left: -1.5rem;
    }

</style>

<div class="preview d-flex flex-column">
    <div class="header">
        <div class="d-flex">
            <div class="image">
                <img src="../../images/kv-logo.png"/>
                <br/>
                <span class="text-xs">o/b 2112190 Ontario Inc.</span>
            </div>
            <div class="text-center flex-fill">
                <span class="font-weight-bold text-lg">905-634-2882</span>
                <br/>
                <span>Locally owned and operated</span>
                <div class="row">
                    <div class="col text-right text-red text-md"><a>www.klearview.ca</a></div>
                    <div class="col text-left text-red text-md"><a>info@klearview.ca</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="customer-info">
        <table>
            <colgroup>
                <col span="1" style="width: 140px;">
                <col span="1" style="width: auto;">
                <col span="1" style="width: 50px;">
                <col span="1" style="width: auto;">
            </colgroup>
            <thead>
                <tr><td colspan="4">CUSTOMER INFORMATION</td></tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayNameFor(item => Model.CustomerInfo.Name):</td>
                    <td colspan="3"><div class="prev-value">@Html.DisplayFor(item => Model.CustomerInfo.Name)</div></td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(item => Model.CustomerInfo.Address):</td>
                    <td colspan="3"><div class="prev-value">@Html.DisplayFor(item => Model.CustomerInfo.Address)</div></td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(item => Model.CustomerInfo.Phone):</td>
                    <td><div class="prev-value">@Html.DisplayFor(item => Model.CustomerInfo.Phone)</div></td>
                    <td>@Html.DisplayNameFor(item => Model.CustomerInfo.Cell):</td>
                    <td><div class="prev-value">@Html.DisplayFor(item => Model.CustomerInfo.Cell)</div></td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(item => Model.CustomerInfo.Email):</td>
                    <td colspan="3"><div class="prev-value">@Html.DisplayFor(item => Model.CustomerInfo.Email)</div></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="sales-rep">
        <table>
            <colgroup>
                <col span="1" style="width: 130px;">
                <col span="1" style="width: 180px;">
                <col span="1" style="width: 80px;">
                <col span="1" style="width: auto;">
            </colgroup>
            <tbody>
                <tr>
                    <td>@Html.DisplayNameFor(item => Model.QuoteInfo.DateOfEstimate):</td>
                    <td><div class="prev-value">@Html.DisplayFor(item => Model.QuoteInfo.DateOfEstimate)</div></td>
                    <td>@Html.DisplayNameFor(item => Model.QuoteInfo.SalesRep):</td>
                    <td><div class="prev-value">@Html.DisplayFor(item => Model.QuoteInfo.SalesRep)</div></td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center text-sm">
                        <em>Estimate good for 30 days from above date</em>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row border-top border-dark flex-fill">
        <div class="col m-2 d-flex flex-column">
            <div class="text-center text-md">Job Description: (see notes)</div>
            <div class="mt-2 flex-fill">
                @Html.DisplayFor(item => Model.QuoteInfo.Description)
            </div>
            <div>
                Notes....
            </div>
        </div>
        <div class="col-7 m-2 border border-dark d-flex flex-column estimate">
            <div class="text-center estimate-top">
                <span class="text-bold text-lg">ESTIMATE</span>
                <p class="text-red text-xs">TAXES NOT INCLUDED</p>
            </div>
            <div class="flex-fill">
                <div>
                    <span class="text-bold text-md">Window Cleaning</span>
                    <div class="indent">
                        <div>
                            <div class="d-flex">
                                <span class="text-bold text-md flex-fill">Exterior</span>
                                <div class="price-wrapper d-flex">
                                    <div class="price text-bold">$@Html.DisplayFor(item => Model.Estimate.Exterior.Price)</div>
                                </div>
                            </div>
                            <span class="sub-text"><em>(Screens and tracks on inside are not included in exterior price)</em></span>
                            <div class="indent">
                                <div class="form-check">
                                    <input asp-for="Estimate.Exterior.CustomerRemoveExtScreens" class="form-check-input" type="checkbox">
                                    <label class="form-check-label" asp-for="Estimate.Exterior.CustomerRemoveExtScreens"></label>
                                </div>

                                <div class="d-flex mr-3">
                                    <div class="form-check">
                                        <input asp-for="Estimate.Exterior.WeRemoveExtScreens.Checked" class="form-check-input" type="checkbox">
                                        <label class="form-check-label" asp-for="Estimate.Exterior.WeRemoveExtScreens"></label>
                                    </div>
                                    <div class="price-wrapper d-flex">
                                        <div class="price">$@Html.DisplayFor(item => Model.Estimate.Exterior.WeRemoveExtScreens.Extra)</div>
                                    </div>
                                </div>

                                <div class="form-check">
                                    <input asp-for="Estimate.Exterior.WeRequireAccessInside" class="form-check-input" type="checkbox">
                                    <label class="form-check-label" asp-for="Estimate.Exterior.WeRequireAccessInside"></label>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex">
                                <span class="text-bold text-md flex-fill">Complete Exterior and Interior</span>
                                <div class="price-wrapper d-flex">
                                    <div class="price text-bold">$@Html.DisplayFor(item => Model.Estimate.CompleteExtAndInt.Price)</div>
                                </div>
                            </div>
                            <span class="sub-text"><em>(Screens and tracks on inside are not included in exterior price)</em></span>
                            <table class="w-100 indent">
                                <colgroup>
                                    <col span="1" style="width: 50%;">
                                    <col span="1" style="width: 50%;">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <td>Included</td>
                                        <td>Extra</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input asp-for="Estimate.CompleteExtAndInt.Basements.Checked" class="form-check-input" type="checkbox">
                                                <label class="form-check-label" asp-for="Estimate.CompleteExtAndInt.Basements"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="price-wrapper d-flex">
                                                <div class="price">$@Html.DisplayFor(item => Model.Estimate.CompleteExtAndInt.Basements.Extra)</div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input asp-for="Estimate.CompleteExtAndInt.Skylights.Checked" class="form-check-input" type="checkbox">
                                                <label class="form-check-label" asp-for="Estimate.CompleteExtAndInt.Skylights"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="price-wrapper d-flex">
                                                <div class="price">$@Html.DisplayFor(item => Model.Estimate.CompleteExtAndInt.Skylights.Extra)</div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input asp-for="Estimate.CompleteExtAndInt.DeckGlass.Checked" class="form-check-input" type="checkbox">
                                                <label class="form-check-label" asp-for="Estimate.CompleteExtAndInt.DeckGlass"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="price-wrapper d-flex">
                                                <div class="price">$@Html.DisplayFor(item => Model.Estimate.CompleteExtAndInt.DeckGlass.Extra)</div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="text-center text-xs multi-service">
                <div class="multi-service-title">Multi-Service Discount</div>
                <div>2 Services $30 off</div>
                <div>3 Services $60 off</div>
            </div>
        </div>
    </div>
</div>