@model KlearviewQuotes.Models.ViewModels.QuoteEditViewModel
@{
    ViewData["Title"] = "Residential";
}

<div id="modal-container">
</div>
<p>Last Option: @Model.LastOption, Id: @Model.Quote.Id</p>
<form method="post" asp-action="Edit">
    <input type="hidden" name="Quote.Id" value="@Model.Quote.Id"/>

    <input type="hidden" asp-for="Quote.CreatedAt" />
    <input type="hidden" asp-for="Quote.CreatedBy" />

    <input type="hidden" asp-for="Quote.UpdatedAt" />
    <input type="hidden" asp-for="Quote.UpdatedBy" />

    <input type="hidden" asp-for="Quote.SentAt" />
    <input type="hidden" asp-for="Quote.SentBy" />

    <div class="group">
        <span class="group-label">Hidden</span>
        
        <div class="form-group">
            <label class="control-label">Status</label>
            @Html.DropDownListFor(model => model.Quote.Status, ViewBag.Status as SelectList, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label asp-for="Quote.CustomerInfo.AccountNumber" class="control-label"></label>
            <input asp-for="Quote.CustomerInfo.AccountNumber" class="form-control">
            <span asp-validation-for="Quote.CustomerInfo.AccountNumber" class="text-danger"></span>
        </div>
    </div>

    <div class="group">
        <span class="group-label">Customer Infromation</span>
        <div class="form-group">
            <label asp-for="Quote.CustomerInfo.Name" class="control-label"></label>
            <input asp-for="Quote.CustomerInfo.Name" class="form-control">
            <span asp-validation-for="Quote.CustomerInfo.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Quote.CustomerInfo.Address" class="control-label"></label>
            <input asp-for="Quote.CustomerInfo.Address" class="form-control" id="address">
            <span asp-validation-for="Quote.CustomerInfo.Address" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="form-group col-md">
                <label asp-for="Quote.CustomerInfo.Phone" class="control-label"></label>
                <input asp-for="Quote.CustomerInfo.Phone" class="form-control" type="tel">
                <span asp-validation-for="Quote.CustomerInfo.Phone" class="text-danger"></span>
            </div>
            <div class="form-group col-md">
                <label asp-for="Quote.CustomerInfo.Cell" class="control-label"></label>
                <input asp-for="Quote.CustomerInfo.Cell" class="form-control" type="tel">
                <span asp-validation-for="Quote.CustomerInfo.Cell" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Quote.CustomerInfo.Email" class="control-label"></label>
            <input asp-for="Quote.CustomerInfo.Email" class="form-control" type="email">
            <span asp-validation-for="Quote.CustomerInfo.Email" class="text-danger"></span>
        </div>
    </div>

    <div class="group">
        <span class="group-label">Sales Rep</span>

        <div class="form-group mt-3">
            <label asp-for="Quote.QuoteInfo.SalesRep" class="control-label"></label>
            @Html.DropDownListFor(model => model.Quote.QuoteInfo.SalesRep, ViewBag.SalesRep as SelectList, new { @class = "form-control" })
        </div>
        
    </div>

    <div class="group estimate">
        <span class="group-label">Estimate</span>

        <p>
            Only fill prices for services that are going to be done for this job.
        </p>

        <div class="sub">
            <span class="sub-label text-md">Window Cleaning</span>

            <div class="sub mt-3">
                <span class="sub-label">Exterior</span>
                <div class="form-group">
                    <div>
                        <label asp-for="Quote.Estimate.Exterior.Price" class="control-label"></label>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">$</div>
                        </div>
                        <input asp-for="Quote.Estimate.Exterior.Price" class="form-control" type="number" min="0">
                    </div>
                </div>
                <span asp-validation-for="Quote.Estimate.Exterior.Price" class="text-danger"></span>

                <div class="form-check">
                    <input asp-for="Quote.Estimate.Exterior.CustomerRemoveExtScreens" class="form-check-input" type="checkbox">
                    <label class="form-check-label" asp-for="Quote.Estimate.Exterior.CustomerRemoveExtScreens"></label>
                </div>

                <div class="form-with-extra">
                    <div class="form-check">
                        <input asp-for="Quote.Estimate.Exterior.WeRemoveExtScreens.Checked" class="form-check-input" type="checkbox">
                        <label class="form-check-label" asp-for="Quote.Estimate.Exterior.WeRemoveExtScreens"></label>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">$</div>
                        </div>
                        <input asp-for="Quote.Estimate.Exterior.WeRemoveExtScreens.Extra" class="form-control" type="number" min="0">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Extra</div>
                        </div>
                    </div>
                    <span asp-validation-for="Quote.Estimate.Exterior.WeRemoveExtScreens.Extra" class="text-danger"></span>
                </div>

                <div class="form-check">
                    <input asp-for="Quote.Estimate.Exterior.WeRequireAccessInside" class="form-check-input" type="checkbox">
                    <label class="form-check-label" asp-for="Quote.Estimate.Exterior.WeRequireAccessInside"></label>
                </div>
            </div>

            <div class="sub mt-3">
                <span class="sub-label">Complete Exterior and Interior</span>
                <div class="form-group">
                    <div>
                        <label asp-for="Quote.Estimate.CompleteExtAndInt.Price" class="control-label"></label>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">$</div>
                        </div>
                        <input asp-for="Quote.Estimate.CompleteExtAndInt.Price" class="form-control" type="number" min="0">
                    </div>
                </div>
                <span asp-validation-for="Quote.Estimate.CompleteExtAndInt.Price" class="text-danger"></span>

                <div class="form-with-extra">
                    <div class="form-check">
                        <input asp-for="Quote.Estimate.CompleteExtAndInt.Basements.Checked" class="form-check-input" type="checkbox">
                        <label class="form-check-label" asp-for="Quote.Estimate.CompleteExtAndInt.Basements"></label>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">$</div>
                        </div>
                        <input asp-for="Quote.Estimate.CompleteExtAndInt.Basements.Extra" class="form-control" type="number" min="0">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Extra</div>
                        </div>
                    </div>
                    <span asp-validation-for="Quote.Estimate.CompleteExtAndInt.Basements.Extra" class="text-danger"></span>
                </div>

                <div class="form-with-extra">
                    <div class="form-check">
                        <input asp-for="Quote.Estimate.CompleteExtAndInt.Skylights.Checked" class="form-check-input" type="checkbox">
                        <label class="form-check-label" asp-for="Quote.Estimate.CompleteExtAndInt.Skylights"></label>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">$</div>
                        </div>
                        <input asp-for="Quote.Estimate.CompleteExtAndInt.Skylights.Extra" class="form-control" type="number" min="0">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Extra</div>
                        </div>
                    </div>
                    <span asp-validation-for="Quote.Estimate.CompleteExtAndInt.Skylights.Extra" class="text-danger"></span>
                </div>

                <div class="form-with-extra">
                    <div class="form-check">
                        <input asp-for="Quote.Estimate.CompleteExtAndInt.DeckGlass.Checked" class="form-check-input" type="checkbox">
                        <label class="form-check-label" asp-for="Quote.Estimate.CompleteExtAndInt.DeckGlass"></label>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">$</div>
                        </div>
                        <input asp-for="Quote.Estimate.CompleteExtAndInt.DeckGlass.Extra" class="form-control" type="number" min="0">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Extra</div>
                        </div>
                    </div>
                    <span asp-validation-for="Quote.Estimate.CompleteExtAndInt.DeckGlass.Extra" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="sub">
            <span class="sub-label text-md">Siding Cleaning</span>

            <div class="form-group">
                <div>
                    <label asp-for="Quote.Estimate.Siding.Price" class="control-label"></label>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">$</div>
                    </div>
                    <input asp-for="Quote.Estimate.Siding.Price" class="form-control" type="number" min="0">
                </div>
            </div>
            <span asp-validation-for="Quote.Estimate.Siding.Price" class="text-danger"></span>
        </div>

        <div class="sub">
            <span class="sub-label text-md">Eavestrough / Gutter Clearing</span>

            <div class="form-group">
                <div>
                    <label asp-for="Quote.Estimate.Eaves.Price" class="control-label"></label>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">$</div>
                    </div>
                    <input asp-for="Quote.Estimate.Eaves.Price" class="form-control" type="number" min="0">
                </div>
            </div>
            <span asp-validation-for="Quote.Estimate.Eaves.Price" class="text-danger"></span>
        </div>
    </div>

    <div class="group">
        <span class="group-label">@Html.DisplayNameFor(model => Model.Quote.QuoteInfo.Description)</span>
        <div class="form-group">
            <textarea asp-for="Quote.QuoteInfo.Description" class="form-control" rows="10"></textarea>
            <span asp-validation-for="Quote.QuoteInfo.Description" class="text-danger"></span>
        </div>
    </div>

    <div class="group">
        <span class="group-label">@Html.DisplayNameFor(model => Model.Quote.QuoteInfo.Notes)</span>
        <div class="form-group">
            <textarea asp-for="Quote.QuoteInfo.Notes" class="form-control" rows="10"></textarea>
            <span asp-validation-for="Quote.QuoteInfo.Notes" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group buttons">
        <a asp-action="Index" name="SubmitOption" value="cancel" class="btn btn-danger">Cancel</a>
        <button type="submit" name="SubmitOption" value="preview" class="btn btn-secondary">Preview</button>
        <button type="submit" name="SubmitOption" value="save" class="btn btn-primary">Save</button>
    </div>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>

        google.maps.event.addDomListener(window, 'load', () => {

            let places = new google.maps.places.Autocomplete(document.getElementById('address'));

            google.maps.event.addDomListener(places, 'place_changed', () => {

                let place = places.getPlace();
                document.getElementById('address').value = place.formatted_address;

            });
        });

        window.showModal = () => {
            console.log("hi")
        }

    </script>

    @if (Model.LastOption != null && Model.LastOption == "preview")
    {
        <script>
            let placeholder = $('#modal-container');
            let url = '@Url.Action("Preview")/@Model.Quote.Id';

            console.log(url)
            $.get(url).done((data) => {
                placeholder.html(data);
                placeholder.find('.modal').modal('show');
            })
        </script>
    }
}