@model IEnumerable<KlearviewQuotes.Models.Quote>

@{
    ViewData["Title"] = "Quotes";
}

<div id="modal-container">

</div>

<a asp-action="NewQuote" class="btn btn-primary">New Quote</a>
<br />
<br />
@using (Html.BeginForm())
{
    <div class="row mb-3">
        <div class="form-group col-md-3">
            <label>Search Query</label>
            @Html.TextBox("SearchString", null, new { @class = "form-control"})
        </div>
        <div class="form-group col-md-3">
            <label>Status</label>
            @Html.DropDownList("Status", ViewBag.Status as SelectList, new { @class = "form-control" })
        </div>
        <div class="d-flex align-items-end col-md-3">
            <button class="btn btn-outline-success" type="submit" id="button-addon2">Search</button>
            <a class="btn btn-outline-warning" style="margin-left: 10px;" asp-area="" asp-controller="Quotes" asp-action="Index">Reset</a>
        </div>
    </div>
    
    
}

<div class="table-responsive table-wrapper">
    <table class="table table-striped">
        <colgroup>
            <col style="min-width: 150px" />    
            <col style="min-width: 200px" />
            <col style="min-width: 120px" />
            <col style="min-width: 120px" />
            <col style="min-width: 120px" />
            <col style="min-width: 130px" />
        </colgroup>
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("Account Number", "Index", new { sortOrder = ViewBag.AccountParm })
                </th>
                <th>
                    @Html.ActionLink("Customer Name", "Index", new { sortOrder = ViewBag.NameParm })
                </th>
                <th>
                    @Html.ActionLink("Address", "Index", new { sortOrder = ViewBag.AddressSortParm })
                </th>
                <th>
                    @Html.ActionLink("Created At", "Index", new { sortOrder = ViewBag.CreatedOnParm })
                </th>
                <th>
                    @Html.ActionLink("Updated At", "Index", new { sortOrder = ViewBag.UpdatedAtParm })
                </th>
                <th>
                    @Html.ActionLink("Sent At", "Index", new { sortOrder = ViewBag.SentOnParm })
                </th>
                <th>
                    @Html.ActionLink("Status", "Index", new { sortOrder = ViewBag.StatusParm })
                </th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.CustomerInfo.AccountNumber)</td>
                        <td>@Html.DisplayFor(modelItem => item.CustomerInfo.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.CustomerInfo.Address)</td>
                        <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
                        <td>@Html.DisplayFor(modelItem => item.UpdatedAt)</td>
                        <td>@Html.DisplayFor(modelItem => item.SentAt)</td>
                        <td>@Html.DisplayFor(modelItem => item.Status)</td>
                        <td>
                            <div class="d-flex">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Edit</a>
                                @*<a asp-action="Preview" asp-route-id="@item.Id" class="btn btn-sm btn-secondary">Preview</a>*@

                                <button class="btn btn-sm btn-secondary"
                                    data-toggle="ajax-modal"
                                    data-target="#previewQuote"
                                    style="margin-left: 4px;"
                                    data-url="@Url.Action("Preview")/@item.Id">
                                        Preview
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            }
            @if(Model == null)
            {
                <tr>
                    <td colspan="6"><div class="text-center">No Quotes</div></td>
                </tr>
            }
        </tbody>
    </table>
</div>